Repository onOffice-Web-Org/oo-wp-plugin, pull requests merged in 2024-07, with the labels that each got.

#849 Remove div
  plugin/Controller/ContentFilter/ContentFilterShortCodeEstateList.php
  tests/resources/templates/TestClassContentFilterShortCodeEstateList_expected.txt
Labels: QA, deploy test

#846 50189 reflected XSS
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Gui/AdminPageSettingsBase.php
Labels: security, QA

#744 44701 caching duration setting
  css/admin.css
  plugin.php
  plugin/Cache/DBCache.php
  plugin/Gui/AdminPageApiSettings.php
  plugin/Installer/DatabaseChanges.php
  plugin/Installer/Installer.php
  plugin/Renderer/InputFieldSelectRenderer.php
  plugin/Renderer/InputModelRenderer.php
  tests/TestClassDatabaseChanges.php
Labels: QA, feature, component: dashboard

#742 44700 energy certificate data on detail pages
  plugin/DataView/DataDetailView.php
  plugin/DataView/DataDetailViewHandler.php
Labels: QA, feature, component: property detail page, deploy test

#758 44702 Thousand separator in form inputs
  dist/onoffice-apply-thousand-separator.min.js
  js/onoffice-apply-thousand-separator.js
  plugin/Controller/InputVariableReaderFormatter.php
  plugin/Controller/InputVariableReaderParser.php
  plugin/EstateList.php
  plugin/Form.php
  plugin/Form/FormFieldValidator.php
  plugin/Gui/AdminPageApiSettings.php
  plugin/Installer/Installer.php
  plugin/ScriptLoader/ScriptLoaderGenericConfigurationDefault.php
  templates.dist/fields.php
  tests/TestClassInputVariableReaderFormatter.php
  tests/TestClassInputVariableReaderParser.php
Labels: QA, UI/UX, deploy test

#764 45379 indication in form overview whether reCAPTCHA has been activated or not
  css/admin.css
  plugin/Gui/Table/FormsTable.php
Labels: QA, deploy test

#779 45582 geo-position field in interest forms
  plugin/DataFormConfiguration/DataFormConfigurationFactory.php
  plugin/Field/OutputFields.php
Labels: bug, QA, component: interest form, deploy test

#800 47254 Files are not loaded on property detail page
  plugin/ScriptLoader/ScriptLoaderGenericConfigurationDefault.php
Labels: bug, QA, component: property detail page, component: unit list, deploy test
