Repository onOffice-Web-Org/oo-wp-plugin, pull requests merged in 2024-12, with the labels that each got.

#842 49348 Enhancement of the detail page functionality - contact person selection for detail page
  css/admin.css
  plugin/DataView/DataDetailView.php
  plugin/DataView/DataDetailViewHandler.php
  plugin/EstateList.php
  plugin/Gui/AdminPageEstateDetail.php
  plugin/Model/FormModelBuilder/FormModelBuilderEstateDetailSettings.php
  plugin/Model/InputModel/InputModelOptionFactoryDetailView.php
  plugin/Model/InputModelBase.php
  plugin/Renderer/InputFieldVerticalRadioRenderer.php
  plugin/Renderer/InputModelRenderer.php
  templates.dist/estate/default_detail.php
  templates.dist/onoffice-style.css
  tests/TestClassDataDetailViewHandler.php
  tests/TestClassEstateList.php
  tests/TestClassFormModelBuilderEstateDetailSettings.php
  tests/TestClassInputFieldVerticalRadioRenderer.php
  tests/resources/templates/output_default_detail.html
Labels: QA, feature, component: property detail page, deploy test

#963 54309 Script Loading issue for onoffice-captchacontrol.min.js when form is placed in the footer
  plugin/Form.php
  plugin/ScriptLoader/IncludeFileModel.php
  plugin/ScriptLoader/ScriptLoaderGeneric.php
  plugin/ScriptLoader/ScriptLoaderGenericConfiguration.php
  plugin/ScriptLoader/ScriptLoaderGenericConfigurationDefault.php
  plugin/Template.php
  templates.dist/form/formsubmit.php
  templates.dist/onoffice-style.css
  tests/TestClassContentFilterShortCodeEstateDetail.php
  tests/TestClassScriptLoaderGeneric.php
  tests/TestClassScriptLoaderGenericConfigurationDefault.php
  tests/TestClassTemplate.php
Labels: bug, QA, component: contact form, component: interest form, component: owner form, deploy test

#972 Fix missing parameter for applicant search form
  plugin/Gui/AdminPageFormSettingsApplicantSearch.php
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Gui/AdminPageFormSettingsContact.php
Labels: bug, deploy test

#967 54983 Disabled fields in onOffice enterprise causing errors
  plugin/Filter/DefaultFilterBuilderListView.php
  tests/TestClassDefaultFilterBuilderListView.php
Labels: bug, deploy test

#950 54190 "Helper Class" with Translatable Text for Address Detail Page
  plugin/Controller/ContentFilter/ContentFilterShortCodeAddressDetail.php
  plugin/Controller/ContentFilter/ContentFilterShortCodeEstateDetail.php
  plugin/Controller/ContentFilter/RenderHtmlHelperUsers.php
Labels: QA, deploy test, component: adress list detail page

#973 fix column arrangement and width
  css/admin.css
Labels: QA, deploy test

#878 51857 Implementation of a checkbox to change the form behavior
  plugin/DataFormConfiguration/DataFormConfigurationFactory.php
  plugin/DataFormConfiguration/DataFormConfigurationOwner.php
  plugin/Form.php
  plugin/FormPost.php
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBForm.php
  plugin/Model/InputModel/InputModelDBFactoryConfigForm.php
  templates.dist/form/ownerleadgeneratorform.php
  templates.dist/onoffice-style.css
  tests/TestClassDataFormConfigurationFactory.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassFormModelBuilderDBForm.php
  tests/TestClassFormPostContact.php
Labels: documentation, QA, UI/UX, component: property detail page, deploy test

#907 52876 Ownerform Customizable form creation with drag-and-drop function
  css/admin.css
  dist/admin.min.js
  dist/checkbox.min.js
  dist/onoffice-custom-form-label.min.js
  dist/onoffice-default-form-values.min.js
  js/admin.js
  js/checkbox.js
  js/onoffice-custom-form-label.js
  js/onoffice-default-form-values.js
  plugin/DataFormConfiguration/DataFormConfiguration.php
  plugin/DataFormConfiguration/DataFormConfigurationFactory.php
  plugin/Form.php
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Gui/AdminPageSettingsBase.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBForm.php
  plugin/Model/InputModel/InputModelDBFactoryConfigForm.php
  plugin/Model/InputModelBase.php
  plugin/Renderer/InputFieldComplexSortableDetailListContentDefault.php
  plugin/Renderer/InputFieldComplexSortableDetailListRenderer.php
  plugin/Renderer/InputModelRenderer.php
  scripts/install-wp-tests.sh
  templates.dist/form/ownerleadgeneratorform.php
  tests/TestClassDataFormConfiguration.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassFormModelBuilderDBForm.php
Labels: QA, UI/UX, component: owner form, deploy test

#977 Update DatabaseChanges: add page_per_form to migration
  plugin/Installer/DatabaseChanges.php
Labels: deploy test
