Repository onOffice-Web-Org/oo-wp-plugin, pull requests merged in 2024-10, with the labels that each got.

#917 add apiCAll to filter count estates for address
  plugin/AddressList.php
  tests/TestClassAddressList.php
Labels: QA, feature, component: address list, component: adress list detail page

#918 add overallcount for addresses
  plugin/AddressList.php
Labels: QA, feature, component: address list, component: adress list detail page

#913 53258 Custom Labels for Address Lists and Address List Detail Page in the onOffice for WP Plugin
  css/onoffice-address-detail.css
  plugin/AddressList.php
  plugin/Field/Collection/FieldsCollectionBuilderShort.php
  plugin/Field/FieldModuleCollectionDecoratorCustomLabelAddress.php
  plugin/Gui/AdminPageAddressDetail.php
  plugin/Gui/AdminPageAddressListSettings.php
  plugin/Gui/AdminPageSettingsBase.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBAddress.php
  plugin/Record/RecordManager.php
  templates.dist/address/default_detail.php
  tests/TestClassAddressList.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassFieldModuleCollectionDecoratorCustomLabelAddress.php
  tests/TestClassFormModelBuilderDBAddress.php
Labels: QA, feature, component: address list, deploy test, component: adress list detail page

#883 52059 Improvement of labels for contact person data and individual labeling on the property details page
  templates.dist/estate/default_detail.php
  templates.dist/onoffice-style.css
Labels: QA, UI/UX, component: property detail page, deploy test

#821 47946 Optional writing of activities in the agents log with plugin forms & fields.
  .github/workflows/unit-tests.yml
  css/admin.css
  dist/checkbox.min.js
  dist/onoffice-handle-activity-config.min.js
  js/checkbox.js
  js/onoffice-handle-activity-config.js
  plugin/DataFormConfiguration/DataFormConfiguration.php
  plugin/DataFormConfiguration/DataFormConfigurationFactory.php
  plugin/Form/FormAddressCreator.php
  plugin/FormPostContact.php
  plugin/FormPostInterest.php
  plugin/FormPostOwner.php
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Gui/AdminPageFormSettingsContact.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBForm.php
  plugin/Model/InputModel/InputModelDBFactoryConfigForm.php
  plugin/Model/InputModelBase.php
  plugin/Model/InputModelDBAdapterRow.php
  plugin/Record/RecordManager.php
  plugin/Record/RecordManagerDeleteForm.php
  plugin/Record/RecordManagerDuplicateListViewForm.php
  plugin/Record/RecordManagerInsertGeneric.php
  plugin/Record/RecordManagerReadForm.php
  plugin/Record/RecordManagerUpdateForm.php
  plugin/Record/RecordStructure.php
  plugin/Renderer/InputFieldTextAreaRenderer.php
  plugin/Renderer/InputModelRenderer.php
  tests/TestClassDataFormConfiguration.php
  tests/TestClassDataFormConfigurationFactory.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassFormModelBuilderDBForm.php
  tests/TestClassFormPostContact.php
  tests/TestClassInputFieldTextAreaRenderer.php
  tests/TestClassRecordManagerDeleteForm.php
  tests/TestClassRecordManagerDuplicateForm.php
  tests/TestClassRecordManagerInsertGeneric.php
  tests/TestClassRecordManagerReadForm.php
  tests/resources/ApiResponseActionKindTypes.json
  tests/resources/FormPostContact/ApiResponseCreateAgentLog.json
Labels: QA, feature, component: contact form, component: interest form, component: owner form, deploy test

#923 53444 Implementation of the “bildWebseite” field in adresses
  plugin/API/DataViewToAPI/DataListViewAddressToAPIParameters.php
  plugin/AddressDetail.php
  plugin/AddressList.php
  plugin/DataView/DataAddressDetailView.php
  plugin/DataView/DataListViewAddress.php
  plugin/DataView/DataListViewFactoryAddress.php
  plugin/Gui/AdminPageAddressListSettings.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBAddress.php
  plugin/Model/InputModel/InputModelDBFactory.php
  plugin/Model/InputModel/InputModelDBFactoryConfigAddress.php
  plugin/Types/ImageTypes.php
  tests/TestClassAddressList.php
  tests/TestClassDataAddressDetailView.php
  tests/TestClassDataListViewFactoryAddress.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassFormModelBuilderDBAddress.php
  tests/TestClassImageTypes.php
Labels: QA, feature, component: address list, deploy test, component: adress list detail page

#924 53471 implementation of the bildwebseite field in property detail page settings
  css/admin.css
  plugin/DataView/DataDetailView.php
  plugin/DataView/DataDetailViewHandler.php
  plugin/EstateList.php
  plugin/Gui/AdminPageEstateDetail.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderEstateDetailSettings.php
  plugin/Model/InputModel/InputModelOptionFactoryDetailView.php
  tests/TestClassDatabaseChanges.php
Labels: QA, feature, component: property detail page, deploy test

#793 46527 integration of price on request with calculatedprice field
  plugin/DataView/DataDetailView.php
  plugin/DataView/DataListView.php
  plugin/DataView/DataViewSimilarEstates.php
  plugin/Installer/DatabaseChanges.php
  tests/TestClassDataViewSimilarEstates.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassEstateViewFieldModifierTypeTitle.php
Labels: small change, QA, component: property list, component: property detail page, deploy test

#854 50475 Displaying multiple property lists and OSM on one page - Fix after leaflet.js update
  plugin/EstateList.php
  templates.dist/estate/map/map-google.php
  templates.dist/estate/map/map-osm.php
  templates.dist/onoffice-style.css
  tests/TestClassContentFilterShortCodeEstateDetail.php
  tests/resources/templates/TestClassContentFilterShortCodeEstateDetail_expected.txt
Labels: bug, QA, component: property list, deploy test

#929 53667 "Speaking" URL for address detail pages
  plugin.php
  plugin/AddressList.php
  plugin/Controller/AddressDetailUrl.php
  plugin/Controller/Redirector/AddressRedirector.php
  plugin/Controller/Redirector/EstateRedirector.php
  plugin/Gui/AdminPageApiSettings.php
  plugin/Installer/Installer.php
  plugin/Record/AddressIdRequestGuard.php
  plugin/Record/EstateIdRequestGuard.php
  plugin/Utility/Redirector.php
  plugin/ViewFieldModifier/AddressViewFieldModifierTypeTitle.php
  plugin/ViewFieldModifier/AddressViewFieldModifierTypes.php
  tests/TestClassAddressDetailUrl.php
  tests/TestClassAddressIdRequestGuard.php
  tests/TestClassAddressList.php
  tests/TestClassAddressRedirectIfOldUrl.php
  tests/TestClassAddressViewFieldModifierTypeTitle.php
  tests/TestClassEstateRedirectIfOldUrl.php
  tests/TestClassRedirector.php
Labels: QA, feature, deploy test, component: adress list detail page

#826 48659 Optional writing of tasks in onOffice enterprise with plugin forms & fields.
  css/admin.css
  dist/checkbox.min.js
  js/checkbox.js
  plugin/DataFormConfiguration/DataFormConfiguration.php
  plugin/DataFormConfiguration/DataFormConfigurationFactory.php
  plugin/Field/Collection/FieldLoaderSupervisorValues.php
  plugin/Form/FormAddressCreator.php
  plugin/FormPostContact.php
  plugin/FormPostInterest.php
  plugin/FormPostOwner.php
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Gui/AdminPageFormSettingsContact.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBForm.php
  plugin/Model/InputModel/InputModelDBFactoryConfigForm.php
  plugin/Record/RecordManager.php
  plugin/Record/RecordManagerDuplicateListViewForm.php
  plugin/Record/RecordManagerInsertGeneric.php
  plugin/Record/RecordManagerReadForm.php
  plugin/Record/RecordManagerUpdateForm.php
  tests/TestClassDataFormConfiguration.php
  tests/TestClassDataFormConfigurationFactory.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassFormModelBuilderDBForm.php
  tests/TestClassFormPostContact.php
  tests/TestClassFormPostInterest.php
  tests/TestClassFormPostOwner.php
  tests/TestClassInputFieldTextAreaRenderer.php
  tests/TestClassRecordManagerDeleteForm.php
  tests/TestClassRecordManagerDuplicateForm.php
  tests/TestClassRecordManagerInsertGeneric.php
  tests/TestClassRecordManagerReadForm.php
  tests/resources/ApiResponseActionKindTypes.json
  tests/resources/ApiResponseCreateTask.json
Labels: QA, feature, component: contact form, component: interest form, component: owner form, deploy test

#940 Fix missing social meta data settings
  plugin/Gui/AdminPageApiSettings.php
Labels: bug, deploy test

#832 48938 implement filtering in similar estate
  plugin/DataView/DataSimilarEstatesSettingsHandler.php
  plugin/DataView/DataViewSimilarEstates.php
  plugin/EstateList.php
  plugin/Filter/DefaultFilterBuilderSimilarEstates.php
  plugin/Gui/AdminPageSimilarEstates.php
  plugin/Model/FormModelBuilder/FormModelBuilderSimilarEstateSettings.php
  plugin/Model/InputModel/InputModelOptionFactorySimilarView.php
  tests/TestClassDataViewSimilarEstates.php
  tests/TestClassDefaultFilterBuilderSimilarEstates.php
  tests/TestClassFormModelBuilderSimilarEstateSettings.php
Labels: QA, feature, component: property list, deploy test
