Repository onOffice-Web-Org/oo-wp-plugin, pull requests merged in 2024-09, with the labels that each got.

#904 52911 Bug fix for displaying reference property detail pages after Release v5.1
  plugin/EstateList.php
Labels: bug, QA, component: property detail page, deploy test

#900 P#110445 adress detailpage template
  css/onoffice-address-detail.css
  plugin/AddressList.php
  plugin/ScriptLoader/ScriptLoaderGenericConfigurationDefault.php
  templates.dist/address/default_detail.php
  templates.dist/estate/default.php
  templates.dist/estate/default_detail.php
  tests/TestClassAddressList.php
  tests/resources/templates/output_default_detail.html
Labels: deploy test

#909 53099 Integration of "City-Select" into the Location Field of the Address List Search
  dist/admin.min.js
  dist/checkbox.min.js
  js/admin.js
  js/checkbox.js
  plugin/AddressList.php
  plugin/DataView/DataListViewAddress.php
  plugin/DataView/DataListViewFactoryAddress.php
  plugin/Field/Collection/FieldLoaderAddressCityValues.php
  plugin/Field/Collection/FieldsCollectionBuilderShort.php
  plugin/Filter/DefaultFilterBuilderListViewAddress.php
  plugin/Gui/AdminPageAddressListSettings.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBAddress.php
  plugin/Model/InputModel/InputModelDBFactoryConfigAddress.php
  plugin/Model/InputModel/InputModelDBFactoryFilterableFields.php
  plugin/Record/RecordManagerReadListViewAddress.php
  plugin/Record/RecordStructure.php
  plugin/Renderer/InputFieldComplexSortableDetailListContentDefault.php
  plugin/ScriptLoader/ScriptLoaderGenericConfigurationDefault.php
  templates.dist/fields.php
  tests/TestClassDataListViewFactoryAddress.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassFieldLoaderAddressCityValues.php
  tests/TestClassFormModelBuilderDBAddress.php
Labels: QA, feature, component: address list, deploy test
