Repository onOffice-Web-Org/oo-wp-plugin, pull requests merged in 2024-05, with the labels that each got.

#780 46119 change info text for seo title and description settings
  css/admin.css
  plugin/Gui/AdminPageApiSettings.php
Labels: small change, QA, component: dashboard, deploy test

#738 43303 Improve pagination
  plugin/Controller/ContentFilter/ContentFilterShortCodeEstateList.php
  plugin/Controller/SearchParametersModelBuilderEstate.php
  plugin/Filter/SearchParameters/SearchParameters.php
  plugin/RequestVariablesSanitizer.php
  plugin/WP/WPQueryWrapper.php
  tests/TestClassWPQueryWrapper.php
  tests/resources/templates/TestClassContentFilterShortCodeEstateList_expected.txt
Labels: QA, component: property list, deploy test

#774 45882 elementor recaptcha bug
  plugin/Form.php
  plugin/Form/CaptchaHandler.php
  plugin/ScriptLoader/ScriptLoaderGenericConfigurationDefault.php
Labels: bug, QA, component: contact form, component: interest form, component: owner form

#783 46121 change incorrect label text for address list
  plugin/Model/FormModelBuilder/FormModelBuilderDBAddress.php
  tests/TestClassFormModelBuilderDBAddress.php
Labels: small change, QA, component: address list, deploy test

#713 43301 Notification of unsaved changes
  dist/onoffice-unsaved-changes-message.min.js
  js/onoffice-unsaved-changes-message.js
  plugin/Controller/AdminViewController.php
  plugin/Gui/AdminPageAddressListSettings.php
  plugin/Gui/AdminPageEstateDetail.php
  plugin/Gui/AdminPageEstateListSettingsBase.php
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Gui/AdminPageSettingsBase.php
  plugin/Gui/AdminPageSimilarEstates.php
  tests/TestClassAdminViewController.php
Labels: QA, feature, UI/UX

#688 42592 OpenGraph support
  css/admin.css
  plugin/Controller/AdminViewController.php
  plugin/EstateList.php
  plugin/GenerateMetaDataSocial.php
  plugin/Gui/AdminPageApiSettings.php
  plugin/Installer/DatabaseChanges.php
  plugin/Installer/Installer.php
  plugin/Model/InputModelBase.php
  plugin/Renderer/InputFieldRenderer.php
  plugin/Renderer/InputFieldToggleSwitchRenderer.php
  plugin/Renderer/InputModelRenderer.php
  plugin/WP/WPPluginChecker.php
  tests/TestClassEstateList.php
  tests/TestClassGenerateMetaDataSocial.php
  tests/TestClassInputFieldToggleSwitchRenderer.php
Labels: QA, feature, component: property detail page, component: dashboard, deploy test
