Repository onOffice-Web-Org/oo-wp-plugin, pull requests merged in 2024-08, with the labels that each got.

#599 37596 PDF Download in property lists
  plugin/DataView/DataListViewFactory.php
  plugin/Gui/AdminPageEstateListSettings.php
  plugin/Gui/AdminPageEstateListSettingsBase.php
  plugin/Gui/AdminPageEstateUnitSettings.php
  plugin/Installer/DatabaseChanges.php
  tests/TestClassDatabaseChanges.php
Labels: QA, component: property list, component: dashboard, deploy test

#745 44694 hidden fields for forms
  dist/admin.min.js
  dist/checkbox.min.js
  js/admin.js
  js/checkbox.js
  plugin/DataFormConfiguration/DataFormConfiguration.php
  plugin/DataFormConfiguration/DataFormConfigurationFactory.php
  plugin/Form.php
  plugin/FormPost.php
  plugin/FormPostOwner.php
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBForm.php
  plugin/Model/InputModel/InputModelDBFactoryConfigForm.php
  plugin/Renderer/InputFieldComplexSortableDetailListContentDefault.php
  templates.dist/fields.php
  templates.dist/form/applicantform.php
  templates.dist/form/defaultform.php
  templates.dist/form/ownerform.php
  templates.dist/form/ownerleadgeneratorform.php
  tests/TestClassDataFormConfiguration.php
  tests/TestClassDataFormConfigurationFactory.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassForm.php
  tests/TestClassFormModelBuilderDBForm.php
Labels: QA, feature, component: contact form, component: interest form, component: owner form, deploy test

#875 Update logo for wp menu and banner image
  css/admin.css
  images/onOffice-Logo-screen_wp-grey.svg
  images/oo-logo-plugin.svg
  plugin/Controller/AdminViewController.php
  plugin/Gui/resource/mainPage/logo.png
Labels: deploy test

#770 45380 multiple contact types in form specific options
  dist/onoffice-custom-select.min.js
  js/onoffice-custom-select.js
  plugin/DataFormConfiguration/DataFormConfiguration.php
  plugin/DataFormConfiguration/DataFormConfigurationFactory.php
  plugin/Form/FormAddressCreator.php
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBForm.php
  plugin/Model/InputModel/InputModelDBFactoryConfigForm.php
  plugin/Model/InputModelDBAdapterRow.php
  plugin/Record/RecordManager.php
  plugin/Record/RecordManagerDuplicateListViewForm.php
  plugin/Record/RecordManagerRead.php
  plugin/Record/RecordManagerReadForm.php
  plugin/Record/RecordManagerUpdateForm.php
  plugin/Record/RecordStructure.php
  plugin/Renderer/InputModelRenderer.php
  tests/TestClassDataFormConfigurationFactory.php
  tests/TestClassDatabaseChanges.php
  tests/TestClassFormAddressCreator.php
  tests/TestClassFormModelBuilderDBForm.php
  tests/TestClassFormPostContact.php
  tests/TestClassRecordManagerDuplicateForm.php
  tests/TestClassRecordManagerReadForm.php
Labels: QA, UI/UX, component: contact form, component: interest form, component: owner form, deploy test

#788 46248 resolve fatal error caused by price on request with similar estate
  plugin/DataView/DataView.php
  tests/TestClassDataViewSimilarEstates.php
Labels: bug, QA, component: property detail page, deploy test

#760 32991 Order properties by tags
  css/admin.css
  dist/admin.min.js
  dist/onoffice-sort-by-user-selection.min.js
  js/admin.js
  js/onoffice-sort-by-user-selection.js
  plugin/Controller/SortList/SortListBuilder.php
  plugin/DataView/DataListView.php
  plugin/DataView/DataListViewFactory.php
  plugin/EstateList.php
  plugin/Gui/AdminPageEstateListSettings.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBEstateListSettings.php
  plugin/Model/InputModel/InputModelDBFactory.php
  plugin/Model/InputModel/InputModelDBFactoryConfigEstate.php
  plugin/Model/InputModelBase.php
  plugin/Renderer/InputModelRenderer.php
  plugin/Renderer/SortableTagsRenderer.php
  plugin/Types/EstateStatusLabel.php
  tests/TestClassDataListViewFactory.php
  tests/TestClassDatabaseChanges.php
Labels: QA, feature, UI/UX, component: property list, component: unit list, deploy test
