Repository onOffice-Web-Org/oo-wp-plugin, pull requests merged in 2024-11, with the labels that each got.

#840 49231 Improve the Plugins stability and reliability - Error handling fieldlists in similar estate
  plugin/DataView/DataSimilarEstatesSettingsHandler.php
  plugin/Record/RecordStructure.php
  tests/TestClassRecordManagerInsertGeneric.php
  tests/TestClassRecordStructure.php
Labels: breaking change, QA, component: property detail page, component: dashboard, deploy test

#869 51413 Critical error when using empty "Radius" for Similar Estates
  plugin/DataView/DataSimilarEstatesSettingsHandler.php
  plugin/Model/FormModelBuilder/FormModelBuilderSimilarEstateSettings.php
  plugin/Model/InputModelBase.php
  plugin/Renderer/InputFieldNumberRenderer.php
  plugin/Renderer/InputFieldRenderer.php
  plugin/Renderer/InputModelRenderer.php
  tests/TestClassFormModelBuilderSimilarEstateSettings.php
Labels: breaking change, QA, component: property detail page, deploy test

#944 Feature/p#119563 link address
  plugin/AddressList.php
  plugin/EstateDetail.php
  templates.dist/address/default_detail.php
  tests/TestClassAddressList.php
Labels: component: property detail page

#858 50561 Proper Handling of Image Type Selection in Property List Settings
  plugin/DataView/DataDetailView.php
  plugin/DataView/DataSimilarEstatesSettingsHandler.php
  plugin/DataView/DataViewSimilarEstates.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBEstateListSettings.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBEstateUnitListSettings.php
  plugin/Model/FormModelBuilder/FormModelBuilderEstateDetailSettings.php
  plugin/Model/FormModelBuilder/FormModelBuilderSimilarEstateSettings.php
  tests/TestClassDataDetailView.php
  tests/TestClassDataViewSimilarEstates.php
Labels: bug, QA, component: property list, deploy test

#839 48939 Implementation of energy certificate with a scale
  dist/onoffice_defaultview.min.js
  js/onoffice_defaultview.js
  plugin/DataView/DataDetailView.php
  plugin/DataView/DataDetailViewHandler.php
  plugin/EstateList.php
  plugin/Gui/AdminPageEstateDetail.php
  plugin/Model/FormModelBuilder/FormModelBuilderEstateDetailSettings.php
  plugin/Model/InputModel/InputModelOptionFactoryDetailView.php
  plugin/ScriptLoader/ScriptLoaderGenericConfigurationDefault.php
  templates.dist/estate/default_detail.php
  templates.dist/onoffice-style.css
  tests/TestClassEstateList.php
  tests/TestClassFormModelBuilderEstateDetailSettings.php
  tests/TestClassScriptLoaderGenericConfigurationDefault.php
  tests/TestTemplateEstateDefaultDetail.php
  tests/resources/templates/output_default_detail.html
Labels: QA, feature, component: property detail page, deploy test

#957 54399 Correct handling of Umlauts and Special Characters during language switch
  plugin/Controller/EstateDetailUrl.php
  plugin/Record/EstateIdRequestGuard.php
Labels: bug, QA, component: property detail page, deploy test

#960 54192 Map for address list with pin display and show/hide functionality
  plugin/AddressList.php
  plugin/Controller/AddressListEnvironment.php
  plugin/Controller/AddressListEnvironmentDefault.php
  plugin/DataView/DataListViewAddress.php
  plugin/DataView/DataListViewFactoryAddress.php
  plugin/Gui/AdminPageAddressListSettings.php
  plugin/Installer/DatabaseChanges.php
  plugin/Model/FormModelBuilder/FormModelBuilderDBAddress.php
  plugin/Model/InputModel/InputModelDBFactoryConfigAddress.php
  plugin/Record/AddressIdRequestGuard.php
  plugin/ViewFieldModifier/AddressViewFieldModifierTypeMap.php
  plugin/ViewFieldModifier/AddressViewFieldModifierTypes.php
  templates.dist/address/default.php
  templates.dist/address/map/map-google.php
  templates.dist/address/map/map-osm.php
  templates.dist/address/map/map.php
  templates.dist/onoffice-style.css
  tests/TestClassAddressList.php
  tests/TestClassAddressListEnvironmentDefault.php
  tests/TestClassDataListViewFactoryAddress.php
  tests/TestClassDatabaseChanges.php
Labels: QA, feature, component: address list, deploy test
