Repository onOffice-Web-Org/oo-wp-plugin, pull requests merged in 2025-01, with the labels that each got.

#985 Bug/P#125473 correction energy certificate scale
  plugin/EstateList.php
  templates.dist/estate/default_detail.php
  tests/TestTemplateEstateDefaultDetail.php
Labels: bug, QA, component: property detail page, deploy test

#870 51415 Removing pagination from the detail page template
  templates.dist/estate/default_detail.php
  tests/resources/templates/output_default_detail.html
Labels: small change, QA, UI/UX, component: property detail page, deploy test

#990 Bug/P#125533-validator-field-type
  plugin/Field/DefaultValue/ModelToOutputConverter/DefaultValueRowSaver.php
Labels: deploy test

#986 feature/P#124755-add-user-roles
  .editorconfig
  css/admin.css
  plugin.php
  plugin/Controller/AdminViewController.php
  plugin/Controller/UserCapabilities.php
  plugin/Gui/AdminPageFormList.php
  plugin/Gui/Table/FormsTable.php
  plugin/Renderer/InputFieldTemplateListRenderer.php
  tests/TestClassInputTemplateListRenderer.php
Labels: deploy test

#991 fix: replacement for filter_sanitize_string
  plugin/FormPostHandler.php
  plugin/RequestVariablesSanitizer.php
  tests/TestClassRequestVariablesSanitizer.php
Labels: deploy test
