Repository onOffice-Web-Org/oo-wp-plugin, pull requests merged in 2025-05, with the labels that each got.

#1021 Fix workflow zip path
  .github/workflows/build-release.yml
Labels: deploy test

#876 51535 Persistence of the property list with missing or same name
  Readme.md
  dist/onoffice-handle-notification-actions.min.js
  dist/onoffice-unsaved-changes-message.min.js
  js/onoffice-handle-notification-actions.js
  js/onoffice-unsaved-changes-message.js
  plugin/Controller/AdminViewController.php
  plugin/Gui/AdminPageAddressListSettings.php
  plugin/Gui/AdminPageEstateListSettings.php
  plugin/Gui/AdminPageEstateListSettingsBase.php
  plugin/Gui/AdminPageEstateUnitSettings.php
  plugin/Gui/AdminPageFormSettingsBase.php
  plugin/Gui/AdminPageFormSettingsMain.php
  plugin/Gui/AdminPageSettingsBase.php
  plugin/Record/RecordManagerRead.php
  plugin/Record/RecordManagerReadForm.php
  plugin/Record/RecordManagerReadListViewAddress.php
  plugin/Record/RecordManagerReadListViewEstate.php
  tests/TestClassDataListViewFactoryBase.php
  tests/TestClassGeoPositionFieldHandler.php
  tests/TestClassRecordManagerRead.php
  tests/TestClassRecordManagerReadForm.php
  tests/TestClassRecordManagerReadListViewAddress.php
  tests/TestClassRecordManagerReadListViewEstate.php
Labels: bug, QA, component: property list, component: contact form, component: interest form, component: owner form, component: unit list, component: address list, deploy test

#838 48940 Improve the Plugins consistency - Ensuring database cleanup on Plugin uninstallation
  plugin/Installer/Installer.php
  tests/TestClassInstaller.php
Labels: bug, QA, deploy test

#879 51856 Permanently Marked Required Fields and Correct Local Area Search in Applicant Forms
  css/admin.css
  plugin/Installer/DatabaseChanges.php
  tests/TestClassDatabaseChanges.php
Labels: QA, component: interest form, deploy test

#1010 bug/P#131237-remove-empty-unit-div
  templates.dist/estate/default_detail.php
  templates.dist/estate/default_units.php
  templates.dist/estate/similar_estates.php
  tests/resources/templates/output_default_detail.html
Labels: component: unit list, deploy test

#1013 Feature/p#129313/info window to property details
  plugin/EstateList.php
  templates.dist/estate/map/map-google.php
  templates.dist/estate/map/map-osm.php
  templates.dist/onoffice-style.css
  tests/TestClassContentFilterShortCodeEstateDetail.php
  tests/resources/ApiResponseReadEstatesCostsCalculatorRaw.json
  tests/resources/ApiResponseReadEstatesPublishedENGRaw.json
  tests/resources/templates/TestClassContentFilterShortCodeEstateDetail_expected.txt
Labels: deploy test

#915 52977 Query and display of media information in the property list
  plugin/EstateFiles.php
  plugin/EstateList.php
  plugin/Types/LinksTypes.php
  tests/TestClassEstateList.php
  tests/resources/ApiResponseGetEstatesFiles.json
Labels: QA, component: property list, deploy test
